$primary-color: #282c34;
$white: #fffafb;
$black: #131315;
$grey: #797979;
$light-gray: #c5c5c5;
$red-pink: #ff4e6c;
$red-pink-transparent: rgba(255, 78, 107, 0.16);
$bright-green: #00cc66;
$bright-green-transparent: rgba(0, 204, 102, 0.16);
$bright-orange: #ffbb33;
$bright-orange-transparent: rgba(255, 187, 51, 0.16);
$light-blue: #4db4ff;
$light-blue-transparent: rgba(77, 180, 255, 0.16);
