$primary-color: #282c34;
$white: #fffafb;
$black: #131315;
$grey: #797979;
$red-pink: #ff4e6b;
$red-pink-transparent: rgba(255, 78, 107, 0.16);
$bright-green: #00cc66;
$bright-orange: #ffbb33;
$light-blue: #4db4ff;
